In [4]:
import pandas as pd
import numpy as np
from function import *
from datetime import date, timedelta
from RecommendationModel import RecommenderNet
import warnings
warnings.filterwarnings('ignore')

In [3]:
# import os
# from pathlib import Path
# for dirname, _, filenames in os.walk('model_checkpoint/'):
#     for filename in filenames:
#         path = os.path.join(dirname, filename)
#         os.remove(path)

In [5]:
def get_DataRating():
    my_conn = mysql.connector.connect(host="127.0.0.1",
                                        port=3306,
                                        user='root',
                                        # password='f#Ur8J3N',
                                        database='tour_in')
    query_insert="""
    SELECT * FROM rating_fe;
    """
    raw_rating_fe = pd.read_sql_query(query_insert, my_conn)
    return raw_rating_fe

In [6]:
def get_DataListWisata():
    my_conn = mysql.connector.connect(host="127.0.0.1",
                                        port=3306,
                                        user='root',
                                        # password='f#Ur8J3N',
                                        database='tour_in')
    query_insert="""
    SELECT * FROM list_wisata;
    """
    raw_list_wisata = pd.read_sql_query(query_insert, my_conn)
    return raw_list_wisata

In [7]:
ranting_fe=get_DataRating().copy()
rating=ranting_fe[['kode_user','kode_wisata','rate_value']]
rating.columns = [['id_user','id_wisata', 'rating']]
rating.to_csv('Dataset/rating_fe.csv', index=False)

In [8]:
list_wisata=get_DataListWisata().copy()
place=list_wisata[['id_wisata','wisata']]
place.columns = ['id','place_name']
place.to_csv('Dataset/list_wisata_db.csv', index=False)

In [9]:
rating = pd.read_csv('Dataset/rating_fe.csv')
place = pd.read_csv('Dataset/list_wisata_db.csv')

In [10]:
df=rating.copy()
place_df=place.copy()

In [11]:
ranting_fe.tail()

     id_rate  kode_user  kode_wisata  rate_value                time
98     20121       1013          109         4.0 2022-10-19 15:27:30
99     20122       1013          110         4.0 2022-10-19 15:27:30
100    20124       1004          102         4.0 2022-10-28 13:14:40
101    20127       1020          102         4.0 2022-10-31 16:52:17
102    20128       1021          101         4.0 2022-10-31 16:52:28

In [12]:
ranting_fe.set_index("time", inplace=True)

In [13]:
today = date.today()
today=today.strftime('%Y-%m-%d')

In [14]:
today

'2022-10-31'

In [15]:
test=ranting_fe.loc[today]

In [16]:
test=test.iloc[:, 1:2]

In [17]:
test=test.reset_index(drop=True)

In [18]:
test=test.kode_user.unique()

In [22]:
test = test[0]

In [40]:
test=pd.DataFrame([test], columns=['id_user'])

In [41]:
test

   id_user
0     1020

In [27]:
def dict_encoder(col, data=df):
    # Mengubah kolom suatu dataframe menjadi list tanpa nilai yang sama
    unique_val = data[col].unique().tolist()

    # Melakukan encoding value kolom suatu dataframe ke angka
    val_to_val_encoded = {x: i for i, x in enumerate(unique_val)}
    
    # Melakukan proses encoding angka ke value dari kolom suatu dataframe
    val_encoded_to_val = {i: x for i, x in enumerate(unique_val)}    
    return val_to_val_encoded, val_encoded_to_val

In [28]:
# Encoding User_Id
user_to_user_encoded, user_encoded_to_user = dict_encoder('id_user')

# Mapping User_Id ke dataframe
df['user'] = df['id_user'].map(user_to_user_encoded)

# Encoding dan Mapping Kolom Place

# Encoding Place_Id
place_to_place_encoded, place_encoded_to_place = dict_encoder('id_wisata')

# Mapping Place_Id ke dataframe place
df['place'] = df['id_wisata'].map(place_to_place_encoded)

#setting parameters for model
num_users, num_place = len(user_to_user_encoded), len(place_to_place_encoded)



#Loading model and saved weights
loaded_model = RecommenderNet(num_users, num_place)
loaded_model.compile(loss=tf.keras.losses.BinaryCrossentropy(),
                     optimizer=keras.optimizers.Adam(learning_rate=0.001))
loaded_model.load_weights('model_checkpoint/model_weights')


# Inputan User yang akan dicari recomendasinya
user_id = test.id_user.iloc[0]
place_visited_by_user = df[df.id_user == user_id]

# Membuat data lokasi yang belum dikunjungi user
place_not_visited = place_df[~place_df['id'].isin(place_visited_by_user.id_wisata.values)]['id'] 
place_not_visited = list(
    set(place_not_visited)
    .intersection(set(place_to_place_encoded.keys()))
)
 
place_not_visited = [[place_to_place_encoded.get(x)] for x in place_not_visited]
user_encoder = user_to_user_encoded.get(user_id)
user_place_array = np.hstack(
    ([[user_encoder]] * len(place_not_visited), place_not_visited)
)

# Mengambil top 5 recommendation
ratings = loaded_model.predict(user_place_array).flatten()
top_ratings_indices = ratings.argsort()[-5:][::-1]
recommended_place_ids = [
    place_encoded_to_place.get(place_not_visited[x][0]) for x in top_ratings_indices
]

#get the anime_id's, so we can make a request to anilist api for more info on show
recommended_place = place_df[place_df['id'].isin(recommended_place_ids)]

WARNING:tensorflow:Detecting that an object or model or tf.train.Checkpoint is being deleted with unrestored values. See the following logs for the specific values in question. To silence these warnings, use `status.expect_partial()`. See https://www.tensorflow.org/api_docs/python/tf/train/Checkpoint#restorefor details about the status object returned by the restore function.
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).user_embedding.embeddings
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).user_bias.embeddings
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).places_embedding.embeddings
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).places_bias.embeddings
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer.iter
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer.beta_1
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer.beta_2
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer.decay
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer.learning_rate
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer's state 'm' for (root).user_embedding.embeddings
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer's state 'm' for (root).user_bias.embeddings
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer's state 'm' for (root).places_embedding.embeddings
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer's state 'm' for (root).places_bias.embeddings
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer's state 'v' for (root).user_embedding.embeddings
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer's state 'v' for (root).user_bias.embeddings
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer's state 'v' for (root).places_embedding.embeddings
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer's state 'v' for (root).places_bias.embeddings
1/1 [==============================] - 0s 347ms/step

In [29]:
recommended_place

    id                           place_name
3  104                         Pulau Seribu
5  106  Taman Nasional Bromo Tengger Semeru
6  107                Pantai Kuta Mandalika
8  109                             Wakatobi
9  110                              Morotai

In [42]:
rp2= recommended_place.copy()
test = test.id_user.iloc[0]
kode_user=[]
for i in range(len(rp2)):
    kode_user.append(test)
rp2['kode_user'] = kode_user

In [43]:
rp2['id_rek'] = ""

In [46]:
rp2 = rp2[["id_rek", "kode_user", "id"]]

In [47]:
rp2.columns = ["id_rek", "kode_user", "kode_wisata"]

In [50]:
rp2.head()

  id_rek  kode_user  kode_wisata
3              1020          104
5              1020          106
6              1020          107
8              1020          109
9              1020          110

In [54]:
import pymysql

# Connect to the database
connection = pymysql.connect(host="127.0.0.1",
                             port=3306,
                             user='root',
                             # password='f#Ur8J3N',
                             database='tour_in')

# create cursor
cursor=connection.cursor()

cols = "`,`".join([str(i) for i in rp2.columns.tolist()])
for i,row in rp2.iterrows():
    sql = "UPDATE INTO `list_rekomen` (`" +cols + "`) VALUES (" + "%s,"*(len(row)-1) + "%s)"
    cursor.execute(sql, tuple(row))

    # the connection is not autocommitted by default, so we must commit to save our changes
    connection.commit()

In [86]:
def testing(test):
    def dict_encoder(col, data=df):
        # Mengubah kolom suatu dataframe menjadi list tanpa nilai yang sama
        unique_val = data[col].unique().tolist()

        # Melakukan encoding value kolom suatu dataframe ke angka
        val_to_val_encoded = {x: i for i, x in enumerate(unique_val)}
    
        # Melakukan proses encoding angka ke value dari kolom suatu dataframe
        val_encoded_to_val = {i: x for i, x in enumerate(unique_val)}    
        return val_to_val_encoded, val_encoded_to_val
        #Encoding dan Mapping Kolom User
    #Encoding dan Mapping Kolom User
    # Encoding User_Id
    user_to_user_encoded, user_encoded_to_user = dict_encoder('id_user')

    # Mapping User_Id ke dataframe
    df['user'] = df['id_user'].map(user_to_user_encoded)

    # Encoding dan Mapping Kolom Place

    # Encoding Place_Id
    place_to_place_encoded, place_encoded_to_place = dict_encoder('id_wisata')

    # Mapping Place_Id ke dataframe place
    df['place'] = df['id_wisata'].map(place_to_place_encoded)

    #setting parameters for model
    num_users, num_place = len(user_to_user_encoded), len(place_to_place_encoded)



    #Loading model and saved weights
    loaded_model = RecommenderNet(num_users, num_place)
    loaded_model.compile(loss=tf.keras.losses.BinaryCrossentropy(),
                         optimizer=keras.optimizers.Adam(learning_rate=0.001))
    loaded_model.load_weights('model_checkpoint/model_weights')


    # Inputan User yang akan dicari recomendasinya
    user_id = test.id_user.iloc[0]
    place_visited_by_user = df[df.id_user == user_id]

    # Membuat data lokasi yang belum dikunjungi user
    place_not_visited = place_df[~place_df['id'].isin(place_visited_by_user.id_wisata.values)]['id'] 
    place_not_visited = list(
        set(place_not_visited)
        .intersection(set(place_to_place_encoded.keys()))
    )
 
    place_not_visited = [[place_to_place_encoded.get(x)] for x in place_not_visited]
    user_encoder = user_to_user_encoded.get(user_id)
    user_place_array = np.hstack(
        ([[user_encoder]] * len(place_not_visited), place_not_visited)
    )

    # Mengambil top 7 recommendation
    ratings = loaded_model.predict(user_place_array).flatten()
    top_ratings_indices = ratings.argsort()[-5:][::-1]
    recommended_place_ids = [
        place_encoded_to_place.get(place_not_visited[x][0]) for x in top_ratings_indices
    ]

    #get the anime_id's, so we can make a request to anilist api for more info on show
    recommended_place = place_df[place_df['id'].isin(recommended_place_ids)]
    
    
    
    cols = "`,`".join([str(i) for i in data.columns.tolist()])
    
    
    return recommended_place

In [97]:
for i in test:
    test=pd.DataFrame([i], columns=['id_user'])
    testing(test)

ValueError: Failed to convert a NumPy array to a Tensor (Unsupported object type NoneType).

In [1]:
import os
mypath = "./model_checkpoint/" #Enter your path here
for root, dirs, files in os.walk(mypath, topdown=False):
    for file in files:
        os.remove(os.path.join(root, file))

    # Add this block to remove folders
    for dir in dirs:
        os.rmdir(os.path.join(root, dir))

# # Add this line to remove the root folder at the end
# os.chmod(mypath, 0o0777)
# os.rmdir(mypath)

PermissionError: [WinError 5] Access is denied: './model_checkpoint/model_weights.data-00000-of-00001'

In [4]:
import time

t=time.strftime('%H:%M')
t

'12:57'